<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References - WinterRain</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body style="overflow-x: hidden;">
    {{>header}}
    <div class="row">
        <div class="column links">
            <p class="ms-3 mt-3 pt-3">Weather API: <a href={{weather_api}}> Weather Forecast API</a> </p>
            <p class="ms-3 mt-3">GeoCode: <a href={{geocode}}> Link to GeoCode API</a></p>
            <p class="ms-3 mt-3">Course URL: <a href={{course_url}}>Click to see course</a></p>
        </div>
        <div class="column">
            <img class="reference-img" src="/img/idea.jpg">

        </div>
    </div>
    {{>footer}}
</body>

</html>